.mondrian__artwork_mode_adaptive {
    grid-template-columns: 2.7fr 2.92fr 2.9fr 6.3fr 3.7fr 4fr 1fr;
    grid-template-rows: 3.35fr 7.64fr 7.57fr 3.56fr 3.43fr 1.84fr 1fr;
    column-gap: 1.67%;
    row-gap: 1.67%;
    width: 100%;
    max-height: 890px;
    height: calc(100vw - 54px - ((100vw - 54px) * 0.0075));
}

@media screen and (min-width: 940px) {
    .mondrian__artwork_mode_adaptive {
        height: calc(100vw - 54px - (100vw - 940px) - ((100vw - 54px - (100vw - 940px)) * 0.0075)); 
    }
}