.mondrian__artwork_mode_dynamic {
    grid-template-columns: repeat(auto-fit, 34px);
    grid-auto-rows: 28px;
    grid-auto-flow: dense;
    max-width: 850px;
}

@media screen and (max-width: 500px) {
    .mondrian__artwork_mode_dynamic {
        grid-template-columns: auto;
    }
}