.header__author {
    text-align: center;
    margin: 0 auto 76px;
    font-size: 28px;
}


@media screen and (max-width: 1366px) {
    .header__author {
        margin: 0 auto 32px;
        font-size: 24px;
    }
}

