.instruction__buttons {
    display: flex;
    justify-content: flex-start;
    padding: 30px 0;
}

@media screen and (max-width: 1366px) {
    .instruction__buttons {
        justify-content: center;
        padding: 50px 0 0;
    }
}

