.mondrian__block_bottom_left {
    position: absolute;
    right: -1.5vw;
    bottom: 0;
    /* border: 1px solid green; */
    background:#FBD269;
    width: 1.6vw;
    height: 2.2vw;
}

@media screen and (min-width: 1500px) {
    .mondrian__block_bottom_left {
        height: 1.3vw; 
    }
}

@media screen and (min-width: 1800px) {
    .mondrian__block_bottom_left {
        height: 0.65vw; 
    }
}