.mondrian__block_bottom_right {
    position: absolute;
    left: -1.6vw;
    bottom: 0;
    /* border: 1px solid green; */
    background: rgb(223, 48, 31);
    width: 1.7vw;
    height: 1vw;
}

@media screen and (min-width: 1500px) {
    .mondrian__block_bottom_right {
        height: 0.7vw; 
    }
}

@media screen and (min-width: 1800px) {
    .mondrian__block_bottom_right {
        height: 0.3vw; 
    }
}