@import url(./_status/button-pp_status_clicked.css);
@import url(./_status/button-pp_status_not-clicked.css);

.button-pp {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    padding: 10px;
    border: 2px solid #000;
    width: 150px;
    outline: none;
    height: 110px;
    cursor: pointer;
}

.button-pp:hover {
    box-shadow: 0 0 10px #000;
    transition: box-shadow 0.3s linear;
}

.button-pp:first-of-type {
    margin-right: 40px;
}

@media screen and (max-width: 1366px) {
    .button-pp{
        font-size: 16px;
        min-height: 70px;
    }
}
