.mondrian__elem_state_dynamic {
    border: 7px solid #000;
}
    
    .mondrian__elem_state_dynamic:first-of-type {
        grid-column: span 6;
        grid-row: span 4;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(2) {
        grid-column: span 10;
        grid-row: span 4;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(3) {
        grid-column: span 8;
        grid-row: span 4;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(4) {
        grid-row: span 24;
    }

    .mondrian__elem_state_dynamic:nth-of-type(5) {
        grid-column: span 3;
        grid-row: span 8;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(6) {
        grid-column: span 13;
        grid-row: span 16;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(7) {
        grid-column: span 8;
        grid-row: span 8;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(8) {
        grid-column: span 3;
        grid-row: span 12;
    }

    .mondrian__elem_state_dynamic:nth-of-type(9) {
        grid-column: span 4;
        grid-row: span 8;
    }

    .mondrian__elem_state_dynamic:nth-of-type(10) {
        grid-column: span 4;
        grid-row: span 8;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(11) {
        grid-column: span 6;
        grid-row: span 8;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(12) {
        grid-column: span 7;
        grid-row: span 4;
    }

    .mondrian__elem_state_dynamic:nth-of-type(13) {
        grid-column: span 8;
        grid-row: span 4;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(14) {
        grid-column: span 3;
        grid-row: span 7;
    }

    .mondrian__elem_state_dynamic:nth-of-type(15) {
        grid-column: span 7;
        grid-row: span 4;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(16) {
        grid-column: span 8;
        grid-row: span 6;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(17) {
        grid-column: span 1;
        grid-row: span 7;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(18) {
        grid-column: span 6;
        grid-row: span 3;
    }

    .mondrian__elem_state_dynamic:nth-of-type(19) {
        grid-column: span 7;
        grid-row: span 2;
    }
    
    .mondrian__elem_state_dynamic:nth-of-type(20) {
        grid-column: span 15;
        grid-row: span 1;
    }